<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.booisajerk.typewritersamples">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_typewriter"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TypewriterDetailActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".CreditsActivity"
            android:label="@string/title_activity_credits" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".SearchActivity">
        </activity>
    </application>

</manifest>